*{margin:0;padding:0;}
ul,li{list-style:none;}
body{overflow-Y:scroll;}

.body1  {width:100%;height:auto;position:relative;
min-width: 300px;
max-width: 768px;
min-height:500px;
max-height:1022px;
margin:0 auto;
}


.top-head{width:100%;
	height:100%;
	
	position:relative;
	
	margin:0 auto;
	}


.main{
	width:100%;
	height:100%;
	height:575px;
	 
	position:relative;
	margin:0 auto;
	background-image: url(../img/top-head.jpg);
	background-size:100% 100%;
	
	background-repeat: no-repeat;
	opacity:0.8;
	
}
.main div{ position:relative; margin:0 auto; width:130px; height:130px; border-radius:130px; border:5px solid white;top:50px;overflow:hidden;transition:transform 2s;}

.main div img:hover{transform:scale(1.1,1.1);
-ms-transform:scale(1.1,1.1); 	/* IE 9 */
-moz-transform:scale(1.1,1.1); 	/* Firefox */
-webkit-transform:scale(1.1,1.1); /* Safari 和 Chrome */
-o-transform:scale(1.1,1.1); 
}

.main div img {position:relative; width:130px; height:130px;
transition:transform 2s;border-radius:130px;
-moz-transition:transform 2s; /* Firefox 4 */
-webkit-transition:transform 2s; /* Safari and Chrome */
-o-transition:transform 2s; /* Opera */
}




.main h2{text-align:center;padding-top:60px;position:relative; }

.main h2 span{color:#FFF;}





.head{
	width:100%;
	height:auto;
	position: relative;
	background-color: #400D48;
}

.head-main{
	width:100%;
	
	
	height:50px;
	position: relative;
	margin:0 auto;
	
}
.head-main-img{
	float:left;
width: 11%;
height: auto;
margin-top:20px;

}

.head-main ul{float:right;width: 88%;}
.head-main ul li{float:left;width: 20%;height: 50px;text-align:center;position:relative;border-radius:40px;line-height:50px;}

.head-main ul li:hover{
	background:#2E0135;
}

.head-main ul li a{ color:#FFF; font-weight:800;font-size: 13px;}









.about{width:100%;height:auto;position:relative; background-color:#f0f0f0;}

.about-main{width:100%;height:100%;
position:relative;margin:0 auto;}

.about-main h2 {text-align:center;padding-top:50px;position:relative;}
.about-main h2 span {
	position:relative;
	width:100px;
	height:40px;
	display: inline-block;
	line-height:40px;
	border-bottom: 1px solid #D1D1D1;
}

.about-main h3 {text-align:center;position:relative;}
.about-main h3 span {
	position:relative;
	width:170px;
	height:40px;
	display: inline-block;
	line-height:40px;
}


.about-main1{width:100%;height:100%;max-height:200px;min-height:150px;
position:relative;border:1px solid #DFDCDC;margin:0 auto; border-radius:50px;background:#400D48;}

.about-main1 ul{position:relative;margin: 0 auto;}
.about-main1 ul li{
	float:left;
	margin-left:11%;
	width:19%;
	
	position:relative;
	text-align:center;
	
}
.about-main1 ul li div{border-radius:100%; position:relative; width:100%;  margin:10% auto 0; border:3px solid #999; overflow: hidden; }

.about-main1 ul li div img{ position:relative; width:100%;}
.about-main1 ul li span{
	position:relative;
	width: 100%;margin:10% auto 0; color:#FFF; font-weight:700;top:10px;
}

.about-main2{width:100%;height:100%;height:200px;
position:relative;margin:2% 0 auto;}
.about-main2 p{ color: #666; font-weight:700;}




.ability{width:100%;height:auto;position:relative;}

.ability-main{width:100%;height:100%;height:575px;
position:relative;background-color:white;margin:0 auto;}

.ability-main h2 {text-align:center;padding-top:50px;position:relative;}
.ability-main h2 span {border-bottom:1px solid #D1D1D1;position:relative;width:100px;height:40px;display: inline-block;line-height:40px;}

.ability-main h3 {text-align:center;position:relative;}
.ability-main h3 span {
	position:relative;
	width:170px;
	height:40px;
	display: inline-block;
	line-height:40px;
}


.ability-main1{
	width:100%;
	height:100%;
	
	height:150px;
	position:relative;
	
	
	margin:0 auto;
}

.ability-main1 ul{position:relative;}
.ability-main1 ul li{
	float:left;
	
	width:25%;
	height:200px;
	position:relative;
	text-align:center;
	overflow:hidden;
	border-raidus:30px;
}


.ability-main1 ul li div{ position:relative; margin:4% auto 0;}
.ability-main1 ul li div img { width: 100%;}
.ability-main1 ul li span{position:relative; width:130px; height:auto; color: #999;}

.ability-main2{
width:100%;
	height:100%;
	
	height:200px;
	position:relative;
	
	margin:0 auto;}
	
.ability-main2-1{
	width:100%;
	height:100%;
	
	height:200px;
	position:absoltue;
	background:#400D48;
	border-radius:30px;
	float:right;
	}
	
	.ability-main2-1 p{ color:white;position:relative;margin-top:15px; font-weight:700; margin-left:15px;}
	.ability-main2-2{
	width:100%;
	height:100%;
	
	height:200px;
	position: absolute;
	background:#400D48;
	border-radius:30px;
	right:0px;
	}
	.ability-main2-2 p{ color:white;position:relative;margin-top:15px; font-weight:800;margin-left:15px;}
.ability-main2-3{
	width:100%;
	height:100%;
	
	height:200px;
	position: absolute;
	background:#400D48;
	border-radius:30px;
	right:0px;
	}
	.ability-main2-3 p{ color:white;position:relative;margin-top:15px; font-weight:800;margin-left:15px;}
.ability-main2-4{
	width:100%;
	height:100%;
	
	height:200px;
	position: absolute;
	background:#400D48;
	border-radius:30px;
	right:0px;
	}
	.ability-main2-4 p{ color:white;position: relative;margin-top:15px; font-weight:800;margin-left:15px;}
	
